@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  box-sizing: border-box;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/man2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.navbar-fixed {
  transition: all .3s ease;
}

nav {
  transition: all .3s ease;
  background: linear-gradient( rgba(63, 80, 252, 0.1), rgba(63, 80, 252, 0.2));
}

.nav-gradient {
  background: linear-gradient(-180deg, rgb(54, 0, 51), rgb(20, 55, 90));
}

.sidenav {
  background: linear-gradient(-180deg, rgb(61, 1, 51), rgb(20, 55, 90));
}

.sidenav li a {
  color: #ffffff;
  font-size: 17px;
}

.sidenav li:hover {
  transform: translateX(7px);
  opacity: 1;
}

.sidenav li {
  transition: all .2s ease;
  opacity: 0.9;
}

.brand-logo {
  font-family: 'Montserrat';
  font-weight: bold;
}

.main-msg {
  margin: 17% auto;
}

.msg {
  font-weight: 800;
}

.hire {
  font-weight: 700;
  font-size: 17px;
  margin-top: 2%;
}

.parallax-container {
  height: 300px;
}

.servicesSection {
  margin-bottom: 5%;
}

.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.modal-trigger {
  margin-left: 5%;
}

.scroll-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll-down:hover {
  cursor: pointer;
}

.scroll-down span:nth-child(2){
  animation-delay: -0.2s;
}
.scroll-down span:nth-child(3){
  animation-delay: -0.4s;
}
.scroll-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@media screen and (max-width: 600px){
  header {
    height: 75vh;
  }
  .scroll-down {
    display: none;
  }
  .msg {
    font-size: 33px;
  }
  .hire {
    font-size: 14px;
  }
}

.links::after {
  content: '';
  display: block;
  width: 0; 
  height: 2px;
  background: #ffffff;
  transition: all .2s ease;
}

.links:hover::after {
   width: 100%;
   transition: all .3s ease;
}
