@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background: url(img/man.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.brand-logo {
  font-family: 'Montserrat';
  font-weight: bold;
}

.parallax-container {
  height: 300px;
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.modal-trigger {
  margin-left: 5%;
}

@media screen and (max-width: 670px){
  header {
    height: 45vh;
  }
}

.links::after {
  content: '';
  display: block;
  width: 0; 
  height: 2px;
  background: #ffffff;
  transition: all .2s ease;
}

.links:hover::after {
   width: 100%;
   transition: all .3s ease;
}
