header {
  background: url(img/man.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

@media screen and (max-width: 670px){
  header {
    height: 45vh;
  }
}