header {
  background: url(img/man.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
}

.parallax-container {
  height: 400px;
}

.tabs .indicator {
  background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background: transparent;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

@media screen and (max-width: 670px){
  header {
    height: 45vh;
  }
}
